[submodule "10_DESAFIO_js-developer-pokedex/DESAFIO_DIO_js-developer-pokedex"]
	path = 10_DESAFIO_js-developer-pokedex/DESAFIO_DIO_js-developer-pokedex
	url = https://github.com/marlonprado04/DESAFIO_DIO_js-developer-pokedex.git
