* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* Considera a borda como tamanho total */
}

.content {
    padding: 1rem;
}

h1 {
    margin: 0;
}

ol.pokemons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ol.pokemons li {
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: #14a06f;
    color:white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

ol.pokemons li img{
    border-style: none;
    max-width: 100%;
    max-width: 60%;
}