* {
    /* Zerando todas as configurações aplicadas pelo navegador para que a gente crie as nossas */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Definindo fonte padrão */
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 80%;
    /* Adicionando sombra à noticia*/
    box-shadow: 8px 10px 27px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 10px 27px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 27px -1px rgba(0, 0, 0, 0.75);

    /* Borda para identificar a caixa*/
    border: 1px solid gray;

    /* Display flexivel para elementos internos, disponíveis em linha */
    display: flex;
    flex-direction: row;

    /* Adiciona espaço entre notícia e conteúdo */
    justify-content: space-between;
}

.card__left {
    /* Elementos flexiveis em coluna*/
    display: flex;
    flex-direction: column;

    /* Elementos flexiveis */
    justify-content: center;

    /* Adicionando espaço à esquerda da notícia*/
    padding-left: 10px;
}

.card__left>span {
    /* Peso da fonte do nome do autor */
    font-weight: 400;
}

/* Selecionando filho h1 direto do card */
.card__left>h1 {
    /* Margim do conteúdo */
    margin-top: 15px;
    /* Tamanho da fonte do título da notícia */
    font-size: 25px;

}

.card__left>p {
    /* Mudando cor do parágrafo da notícia */
    color: grey;
}